.layoutTheme {
  background-color: orange;
}

.bodyContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 10px;
  margin: 0;
  &Item {
    color: #fff;
    font-size: 24px;
    padding: 5px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer {
  text-align: center;
  color: #fff;
  font-size: 24px;
  position: relative;
  bottom: 0;
  margin-top: auto;
}
